.productDetailSwiperThumb .swiper-slide-thumb-active img {
  border-color: #3c4297 !important;
}

.productDetailSwiperThumb .swiper-slide img {
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-product-swiper .swiper-slide {
  margin: 10px auto;
}

.main-product-swiper {
  padding-left: 1px;
}
